.homeContainer {
  background: linear-gradient(to right, #56ccf2, #56cbf293);
  padding-bottom: 30px;
}
.navbar {
  background-color: transparent !important;
  border: none;
  padding: 10px 20px;
  width: 100%;
  z-index: 2;
}

.header {
  /* background-color: #6c63ff; */
  /* background: linear-gradient(to right, #000046, #1cb5e0); */
  background: linear-gradient(to right, #1482a0, #1cb5e0);
  width: 115%;
  height: 600px;
  transform: rotate(-6deg);
  position: relative;
  top: -200px;
  left: -50px;
  z-index: 1;
}

.navbarBrand {
  color: #fff !important;
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.navLink a {
  color: #fff !important;
  font-size: 18px;
}

.navLink::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

.navLink:hover::after {
  width: 100%;
  /* //transition: width .3s; */
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  top: 100px;
  font-family: 'Lobster', cursive;
  padding: 0px 100px;
  z-index: 2;
}

.bannerTitle{
  width:50%;
}

.bannerHead {
  /* margin-right: 100px; */
  color: #fff;
  font-size: 50px;
}

.bannerLead {
  color: #fff;
  font-size: 20px;
}

.bannerImg {
  width: 460px;
  height: 340px;
}

.bannerImg img {
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  top:100px;
  /* padding: 20px; */
}

.featureItem{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding:50px 0px;
  padding-top: 350px;
  position: relative;
  top:-400px;
  /* box-shadow: 0px 100px 1000px #fff; */
}

.featureImg{
  width:40%;
}

.featureImgImg{
  width:100%;
  height:100%;
}

.featureText{
  font-size: 44px;
  font-weight: bold;
  font-family: 'Lobster',cursive;
}


.headline{
  font-size: 44px;
  font-weight: bold;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}

.headline:before{
  content: "";
  position: absolute;
  width: 20%;
  height: 1px;
  bottom: 0;
  left: 40%;
  border-bottom: 3px solid #1cb5e0;
}


.contentItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 40px auto;
  /* background: linear-gradient(to right, #2f80ed, #56ccf2);

  background: linear-gradient(to right, #141e30, #243b55);
  background: linear-gradient(to right, #000046, #1cb5e0); */
  background: white;
  border-radius: 40px;
  box-shadow: 0px 0px 60px lightblue;
  
  /* box-shadow: 0px 0px 60px black; */
}

.contentItem:nth-of-type(even){
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contentItem:nth-of-type(odd){
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.headText {
  font-size: 22px;
  font-weight: 600;
  padding: 20px;
  color: #fff;
  border-radius: 20px;
  background-color: #1cb5e0;
  /* background: linear-gradient(to right, #2f80ed, #56ccf2);
  background: linear-gradient(to right, #000046, #1cb5e0); */
border: 10px solid #8ce3fc;

  /* box-shadow: 0px 0px 20px #6c63ff; */
}

.contentImg {
  width: 450px;
  height: 380px;
}

.contentImgImg {
  width: 100%;
  height: 100%;
}

/* modal styles */
.modal-header,
.modal-footer {
  background-color: #6c63ff;
}

.modal-header h3 {
  color: #fff;
  display: inline;
}

.modal-header button span {
  color: #fff;
  font-size: 30px;
}

.modal-body form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0px auto;
}

.modal-body form input {
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 0px;
  outline: none;
  border: 1px solid #888;
}

.submit-btn {
  background-color: transparent !important;
  border: 1px solid white;
  color: white;
  font-weight: 600;
}

.submit-btn:hover {
  background-color: white !important;
  color: #6c63ff !important;
  border-color: #fff !important;
}

.dismiss-btn {
  color: #6c63ff;
  font-weight: 600;
}

.dismiss-btn:hover {
  background-color: #ccc !important;
  color: #6c63ff !important;
}

.reminder{
  background: #ffffff;
  padding-bottom:60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reminderImg{
  width:40%;
}

.reminder p{
  font-size: 20px;
  font-weight: 700;
  margin-right: 20px;
}

.footer{
  background: linear-gradient(to right, #1482a0, #1cb5e0);
  width: 100%;
  height: 100%;
  padding:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:white;
}



@media screen and (max-width: 720px) {
  .banner {
    flex-direction: column;
    margin-top: 40px;
  }

  .contentItem {
    width: 95%;
    flex-direction: column;
    padding: 10px;
  }

  .contentItem:nth-of-type(2) {
    flex-direction: column-reverse;
  }
  .contentItem:nth-of-type(4) {
    flex-direction: column-reverse;
  }
  .contentItem .headText {
    background: none;
  }
}
